# Задача 2. Определение стоимости авто
Ключевая метрика RMSE -  среднеквадратичная ошибка. Чтобы сдать проект значение метрики должно быть не более 2500.

# Импортируем необходимые библиотеки

In [1]:
import pandas as pd

# Подготовка данных

In [2]:
name_columns = [
    'DateCrawled',
    ' Price',
    'VehicleType',
    'RegistrationYear',
    'Gearbox',
    'Power',
    'Model',
    'Kilometer',
    'RegistrationMonth',
    'FuelType',
    'Brand',
    'Repaired',
    'DateCreated',
    'NumberOfPictures',
    'PostalCode',
    'LastSeen'
]

In [4]:
df = pd.read_csv("autos.csv",names=name_columns,header=0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1    Price             354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  Repaired           283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

In [8]:
df.head

<bound method NDFrame.head of                 DateCrawled   Price  VehicleType  RegistrationYear Gearbox  \
0       2016-03-24 11:52:17     480          NaN              1993  manual
1       2016-03-24 10:58:45   18300        coupe              2011  manual
2       2016-03-14 12:52:21    9800          suv              2004    auto
3       2016-03-17 16:54:04    1500        small              2001  manual
4       2016-03-31 17:25:20    3600        small              2008  manual
...                     ...     ...          ...               ...     ...
354364  2016-03-21 09:50:58       0          NaN              2005  manual
354365  2016-03-14 17:48:27    2200          NaN              2005     NaN
354366  2016-03-05 19:56:21    1199  convertible              2000    auto
354367  2016-03-19 18:57:12    9200          bus              1996  manual
354368  2016-03-20 19:41:08    3400        wagon              2002  manual

        Power        Model  Kilometer  RegistrationMonth  FuelType  \
0           0         golf     150000                  0    petrol
1         190          NaN     125000                  5  gasoline
2         163        grand     125000                  8  gasoline
3          75         golf     150000                  6    petrol
4          69        fabia      90000                  7  gasoline
...       ...          ...        ...                ...       ...
354364      0         colt     150000                  7    petrol
354365      0          NaN      20000                  1       NaN
354366    101       fortwo     125000                  3    petrol
354367    102  transporter     150000                  3  gasoline
354368    100         golf     150000                  6  gasoline

                 Brand Repaired          DateCreated  NumberOfPictures  \
0           volkswagen      NaN  2016-03-24 00:00:00                 0
1                 audi      yes  2016-03-24 00:00:00                 0
2                 jeep      NaN  2016-03-14 00:00:00                 0
3           volkswagen       no  2016-03-17 00:00:00                 0
4                skoda       no  2016-03-31 00:00:00                 0
...                ...      ...                  ...               ...
354364      mitsubishi      yes  2016-03-21 00:00:00                 0
354365  sonstige_autos      NaN  2016-03-14 00:00:00                 0
354366           smart       no  2016-03-05 00:00:00                 0
354367      volkswagen       no  2016-03-19 00:00:00                 0
354368      volkswagen      NaN  2016-03-20 00:00:00                 0

        PostalCode             LastSeen
0            70435  2016-04-07 03:16:57
1            66954  2016-04-07 01:46:50
2            90480  2016-04-05 12:47:46
3            91074  2016-03-17 17:40:17
4            60437  2016-04-06 10:17:21
...            ...                  ...
354364        2694  2016-03-21 10:42:49
354365       39576  2016-04-06 00:46:52
354366       26135  2016-03-11 18:17:12
354367       87439  2016-04-07 07:15:26
354368       40764  2016-03-24 12:45:21

[354369 rows x 16 columns]>